<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Galaxy</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap.css" rel="stylesheet">
  <script src="js/jquery.js"></script>
</head>
<body>
<table>

  <div class="public-nav-layout1">
    <ul id="fullScreenSlides" class="full-screen-slides">
      <li style="background: #fae2ef url('images/b1.jpg') ;background-size: cover;">
      </li>
      <li style="background: #fae2ef url('images/ye_03.gif') ;background-size: cover;">
      </li>
      <li style="background: #fae2ef url('images/ye_02.gif') ;background-size: cover;">
      </li>
    </ul>
  </div>

  <div class="wrapper1">
    <a href="#001" style="color: red ;font-size: 18px ">我们优势</a>
  </div>
  <div class="wrapper2">
    <a href="#002" style="color: red ;font-size: 18px ">产品分类</a>
  </div>
  <div class="wrapper3">
    <a href="#003" style="color: red ;font-size: 18px ">行业套餐</a>
  </div>
  <div class="wrapper4">
    <a href="#004" style="color: red ;font-size: 18px ">合作伙伴</a>
  </div>

  <div class="wrapper" style="padding-top: 40px;padding-bottom: 240px">
    <div class="index-body">

      <div class="floor0">
        <a href=""><img src="images/index_0.gif"></a>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="">
          <h2 style="font-size: 20px">
            星舰基因针对行业用户的需求，提供可定制化的产品服务
          </h2>
          <p>
          <h2 style="font-size: 20px ">欢迎拨打：<span style="color: #e9462a;">010-57134617 </span>咨询优惠政策
          </h2>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="floor1" style="border-top:1px #d7d7d7 solid;padding-top: 20px;padding-bottom: 240px">
    <a name="001" id="001"></a>
    <h2 style="font-size: 28px;font-weight: 600; text-align: center ">我们的优势</h2>
    <div class="floor1-body" style="padding-top: 40px;">
      <ul>
        <li style="list-style-type:none;">
          <a href="">
            <img src="images/index_8.gif">
            <div class="">
              合 作 机 构
            </div>

          </a>
        </li>
        <li style="list-style-type:none;">
          <a href="">
            <img src="images/index_1.gif">
            <div class="">
              权 威 专 家
            </div>

          </a>
        </li>
        <li style="list-style-type:none;">
          <a href="">
            <img src="images/index_2.gif">
            <div class="">
              报 告 精 准
            </div>

          </a>
        </li>
        <li style="margin-right: 0px;list-style-type:none;">
          <a href="">
            <img src="images/index_3.gif">
            <div class="">
              &nbsp; 数 据 库
            </div>

          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="floor2" style="line-height: 67px;border-top:1px #d7d7d7 solid;padding-top: 30px; ">
    <a name="002" id="002"></a>
    <div class="floor2-left">
      <div class="">
        健康成长
        <img src="images/index_4.gif">
      </div>
      <br/>
      <div class="">
        健康风险
        <img src="images/index_5.gif">
      </div>
      <br/>
    </div>
    <div class="floor2-title">
      <h2 style="font-size: 28px;font-weight: 600;line-height: 125px;text-align:center ">产品四大分类</h2>
    </div>
    <div class="floor2-right">
      <div class="">

        <img src="images/index_6.gif" style=" margin-left: 0px;   margin-right: 10%;">
        体质特征
      </div>
      <br/>
      <div class="">

        <img src="images/index_7.gif" style="  margin-left: 0px;  margin-right: 10%;">
        营养吸收
      </div>
      <br/>
    </div>
  </div>
  <div class="floor3" style="border-top:1px #d7d7d7 solid;padding-top: 11px;">
    <a name="003" id="003"></a>
    <h2 style="font-size: 28px;font-weight: 600;text-align: center;padding-bottom: 20px;">推荐行业套餐</h2>

    <div class="floor3-body">
      <div class="tabs0">
        <ul class="menu0" id="menu0">
          <li onclick="setTab(0,0)" class="hover" style="list-style-type:none;color: black">抗衰</li>
          <li onclick="setTab(0,1)" style="background: #f2907f;color: black;list-style-type:none;">儿童</li>
          <li onclick="setTab(0,2)" style="color: black;list-style-type:none;">疾病</li>

        </ul>
        <div class="main" id="main0">
          <ul class="block">
            <li style="padding: 100px 0;list-style-type:none;text-align: center">
              <a href=""><img src="images/41.gif"></a>
            </li>

          </ul>
          <ul>
            <li style="padding: 100px 0;list-style-type:none;text-align: center">
              <a href=""><img src="images/42.gif"></a>
            </li>
          </ul>
          <ul>
            <li style="padding: 100px 0;list-style-type:none;text-align: center">
              <a href=""><img src="images/43.gif"></a>
            </li>
          </ul>

        </div>
      </div>
    </div>

  </div>
  <div class="floor4" style="border-top:1px #d7d7d7 solid;padding-top: 11px;">
    <a name="004" id="004"></a>
    <h2 style="font-size: 28px;font-weight: 600; text-align: center; padding-bottom: 20px;">合作伙伴</h2>
    <div class="">
      <ul>
        <li style="list-style-type:none;"><a href=""><img src="images/a1.png"></a></li>
        <li style="list-style-type:none;"><a href=""><img src="images/b1.png"></a></li>
        <li style="list-style-type:none;"><a href=""><img src="images/c1.png"></a></li>
        <li style="list-style-type:none;"><a href=""><img src="images/e1.png"></a></li>
        <li style="list-style-type:none;"><a href=""><img src="images/f1.png"></a></li>

      </ul>
    </div>
  </div>
  <div class="index-bottom" style="   color: #bdc5d2;  padding-top: 30px;width: 100%;  float: left; text-align: center;background-color: #ebedef;">
    <div class="" style="    padding: 0 36%;">
      <div class="" style="float: left;">
        <div style="    margin-bottom: 10px;">
          微信公众号
        </div>

        <a href=""><img src="images/index_10.gif"></a>
      </div>
      <div class="" style="float: left;    margin-top: 5px;line-height: 30px;">
        <ul>
          <li style="text-align: left;list-style-type: none">
            <p style="font-size: 16px;font-weight: 600;">星舰基因</p>
          </li>

          <li style="text-align: left;list-style-type: none">
            <p>联系电话：400-0870-521</p>
          </li>
          <li style="text-align: left;list-style-type: none">
            <p style="font-weight: 600;">联系邮箱：service@ssgene.com</p>
          </li>
        </ul>
      </div>
    </div>


  </div>
  <div class="" style=" color: #bdc5d2;    padding-top: 20px;   padding-bottom: 30px;float: left;width: 100%;display: block; text-align: center;background-color: #ebedef;">
    &copy2014-2016星舰科技 京ICP备 14003383号
  </div>


</table>
</div>
<script type="text/javascript" src="js/home_index.js" charset="utf-8"></script>
<script>
  function setTab(m, n) {
    var tli = document.getElementById("menu" + m).getElementsByTagName("li");
    var mli = document.getElementById("main" + m).getElementsByTagName("ul");
    for (i = 0; i < tli.length; i++) {
      tli[i].className = i == n ? "hover" : "";
      mli[i].style.display = i == n ? "block" : "none";
    }
  }
</script>
<script src="js/jquery-2.2.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
